# --- Java & Maven ---
target/
*.class
*.jar

# --- Logs & Allure ---
*.log
allure-results/
.allure/

# --- IDE Settings ---
.idea/
.vscode/
*.iml

# --- System ---
.DS_Store

# --- Security ---
src/test/resources/config.properties